<nav class="navbar navbar-dark bg-dark d-flex justify-content-center">

    <span class="navbar-brand mb-0 h1">Hotel Menu</span>
  
  </nav>
  
  <div class="row">
  
    <div id="input" class="col-12 container" style="width: 229px; display: flex; flex-wrap: wrap; flex-direction: column; align-content: center; padding-top: 30px;">
  
      <label>Enter the customer name:</label><br />
  
      <input #customerNameInput class="form-control" style="height: 38px; width: 203px" type="text" id="customerName" placeholder="Customer Name" /><br />
  
      <label>Choose the dish:</label>
  
      <select #dishSelect class="form-select" id="dropDown">
  
        <option selected value="Burger">Burger</option>
  
        <option value="Momo">Momo</option>
  
        <option value="Noodles">Noodles</option>
  
        <option value="Pizza">Pizza</option>
  
        <option value="Pasta">Pasta</option>
  
      </select>
  
      <!-- Button to add order -->
  
      <button (click)="addOrder(customerNameInput, dishSelect)" id="addBtn" class="btn btn-dark btn-sm mt-2">Add</button>
  
      <br />
  
    </div>
  
    <!-- Display the Ordered Items table only if orders exist -->
  
    <div *ngIf="orders.length > 0" id="displayItems" class="container">
  
      <h5 style="margin-left: 25%;">Ordered items</h5><br />
  
      <table class="table table-striped table-hover w-50" id="center">
  
        <thead>
  
          <tr>
  
            <th>Dish</th>
  
            <th>Customer Name</th>
  
          </tr>
  
        </thead>
  
        <tbody id="menuContent">
  
          <tr *ngFor="let order of orders">
  
            <td>{{ order.dish }}</td>
  
            <td>
  
              <ul>
  
                <li *ngFor="let customer of order.customers" class="list-unstyled">{{ customer }}</li>
  
              </ul>
  
            </td>
  
          </tr>
  
        </tbody>
  
      </table>
  
    </div>
  
  </div>
   